#section1{
    background-image:url('../onaResources/2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    padding: 100px 4%;
}
#onaCourceContainer #section1 h1{
    color:rgba(52, 52, 52, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.125rem, 0.946rem + 0.893vw, 2.95rem);
    font-weight: 600;
    line-height: 1.6em;
}

#onaCourceContainer #section1 h1 span{
    font-size: clamp(1.5rem, 1.286rem + 1.071vw, 2.25rem);
    font-weight: 700;
    line-height: 1.6em;
}




#onaCourceContainer #section1 button{
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    font-weight: 500;
    line-height: 4.25em;
    padding:10px 20px;
    max-height: 45px;
    max-width:12.25em;

    color:rgba(69, 69, 69, 1);
    background:white;

    border-radius: 0.25em;
    border: 0.125em solid rgba(171, 182, 190, 1);

    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px !important;
    transition:0.3s;
}

#onaCourceContainer #section1 button:hover{
    cursor:pointer;
    border: 0.125em solid rgba(80, 80, 80, 1);
    background:rgba(80, 80, 80, 1);
    color:white;
}