#section7{
    padding: 60px 4%;
    border-bottom:0.1px solid rgb(232, 232, 232);
}

#section7 .section7Card{
    
    padding:40px 40px 30px;
    border-bottom:0.4px solid rgb(231, 231, 231);
}